git+https://github.com/kbarnes3/PyGithub.git@v1.30.private#egg=PyGithub
git+https://github.com/kbarnes3/FabricGHDeployKeys.git@v1.0.3#egg=fabricghdeploykeys&subdirectory=python
Fabric3==1.13.1.post1

