{% extends "common/base.html" %}
{%  load widget_tweaks %}

{%  block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
                {% endif %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %} has-error {% endif %}">
                        <label for="id_{{  field.html_name }}" class="control-label">{{ field.label }}</label>
                        {% if field.html_name == "username" %}
                            {% render_field field type="email" class+=" form-control" %}
                        {% else %}
                            {% render_field field class+=" form-control" %}
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-default">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
