/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.errorlist {
    color: #FF0000
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    background-color: #000000;
    color: #FFFFFF;
}

.header h1 {
    padding: 10px 0px 10px 0px;
    text-align: right;
}

.header h1 a:link, .header h1 a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.header h1 a:hover, .header h1 a:active {
    color: #CCCCCC;
    text-decoration: none;
}

.hidden {
    display: none;
}

.hideondesktop {
    display: none;
}

.invisible {
    visibility: hidden;
}

.main
{
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 100px;
}

.user {
    padding: 0px 0px 10px 0px;
    text-align: right;
}

.user a:link, .user a:visited {
    color: #FFFFFF;
}

.user a:hover, .user a:active {
    color: #CCCCCC;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

    body {

    }

    .hideondesktop {
        display: inline;
    }

}
